<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="exif" type="ExifName.ExifConfigurationSection, ExifName"/>
  </configSections>
  <exif>
    <files>
      <add ext=".mp4" offset="13:0:0" camera="" owner="" min="2017-09-22" max="2020-01-01"/>

      <!-- Olimpus PEN E-P5 -->
      <add ext=".jpg" offset="0:0:0" camera="E-P5" owner="" min="2002-01-01" max="2020-01-01"/>
      <add ext=".mov" offset="0:0:0" camera="E-P5" owner="" min="2002-01-01" max="2020-01-01"/>

      <!-- Подводный Coolpix AW120 -->
      <add ext=".jpg" offset="0:0:0" camera="COOLPIX AW120" owner="" min="2002-01-01" max="2020-01-01"/>
      <add ext=".mov" offset="0:0:0" camera="COOLPIX AW120" owner="" min="2002-01-01" max="2020-01-01"/>

      <!-- Samsung Galaxy S7 Телефон Виктор -->
      <add ext=".jpg" offset="0:0:0" camera="SM-G930F" owner="" min="2002-01-01" max="2020-01-01"/>
      <add ext=".mp4" offset="3:0:0" camera="SM-G930F" owner="" min="2002-01-01" max="2020-01-01"/>

      <!-- Samsung Galaxy S7 Edge Телефон Дина -->
      <add ext=".jpg" offset="0:0:0" camera="SM-G935F" owner="" min="2002-01-01" max="2020-01-01"/>
      <add ext=".mp4" offset="3:0:0" camera="SM-G935F" owner="" min="2002-01-01" max="2020-01-01"/>

      <!-- Sony XPeria M5 Телефон Лера -->
      <add ext=".jpg" offset="0:0:0" camera="E5603" owner="" min="2002-01-01" max="2020-01-01"/>
      <add ext=".mp4" offset="3:0:0" camera="E5603" owner="" min="2002-01-01" max="2020-01-01"/>

      <!-- Sony XPeria Acro S -->
      <add ext=".jpg" offset="0:0:0" camera="LT26w" owner="" min="2002-01-01" max="2020-01-01"/>
      <add ext=".mp4" offset="3:0:0" camera="LT26w" owner="" min="2002-01-01" max="2020-01-01"/>

      <!-- Samsung Glaxy S4 mini -->
      <add ext=".jpg" offset="0:0:0" camera="GT-I9190" owner="" min="2002-01-01" max="2020-01-01"/>
      <add ext=".mp4" offset="0:0:0" camera="GT-I9190" owner="" min="2002-01-01" max="2020-01-01"/>

      <!-- HTC Hero -->
      <add ext=".jpg" offset="0:0:0" camera="HTC Hero" owner="" min="2002-01-01" max="2020-01-01"/>

      <!-- Динин телефон-слайдер S500i -->
      <add ext=".jpg" offset="0:0:0" camera="S500i" owner="" min="2002-01-01" max="2020-01-01"/>
      <add ext=".3gp" offset="0:0:0" camera="" owner="" min="2002-01-01" max="2020-01-01"/>

      <!-- Вачеслав Цветков -->
      <add ext=".jpg" offset="0:0:0" camera="Canon EOS 40D" owner="J0500127" min="2002-01-01" max="2020-01-01"/>
      <add ext=".jpg" offset="0:0:0" camera="NEX-6" owner="" min="2002-01-01" max="2020-01-01"/>

      <!-- Подводные фотки из Египта - июнь 2015, Фотоаппарат дайверов -->
      <add ext=".jpg" offset="0:0:0" camera="Canon PowerShot G12" owner="" min="2002-01-01" max="2020-01-01"/>
      <add ext=".mov" offset="0:0:0" camera="Canon PowerShot G12" owner="" min="2002-01-01" max="2020-01-01"/>
      <!-- Фото фотографа на кораблике в Египте - июнь 2015 -->
      <add ext=".jpg" offset="0:0:0" camera="NIKON D3100" owner="" min="2002-01-01" max="2020-01-01"/>

      <!-- Чей-то фотоаппарат в саду у Евы -->
      <add ext=".jpg" offset="0:0:0" camera="(S07) 2009:09:24 no. 0118" owner="" min="2002-01-01" max="2020-01-01"/>
      <!-- Чей-то фотоаппарат в саду у Евы -->
      <add ext=".jpg" offset="0:0:0" camera="EK-GC100" owner="" min="2002-01-01" max="2020-01-01"/>
      <add ext=".jpg" offset="0:0:0" camera="iPhone 5" owner="" min="2002-01-01" max="2020-01-01"/>
      <add ext=".jpg" offset="0:0:0" camera="Apple" owner="" min="2002-01-01" max="2020-01-01"/>

      <!-- Фотографии Муравьевых (Евина подружка) Canon PowerShot SX220 HS -->
      <add ext=".jpg" offset="0:0:0" camera="Canon PowerShot SX220 HS" owner="" min="2002-01-01" max="2020-01-01"/>
      <add ext=".mov" offset="0:0:0" camera="Canon PowerShot SX220 HS" owner="" min="2002-01-01" max="2020-01-01"/>
      <add ext=".mp4" offset="0:0:0" camera="Canon PowerShot SX220 HS" owner="" min="2002-01-01" max="2020-01-01"/>


    </files>
  </exif>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
